hr{
    border:0;
    height:1px;
    background:#ccc;
}
.logo{
    width:auto;
    height:40px;
}
.no-margin{
    margin:0 !important;
}
.no-padding{
    padding:0 !important;
}
.text-big{
    font-size:$h2-font-size;
}
.color-primary{
    color:$primary-color !important;
}
.color-secondary{
    color:$secondary-color !important;
}
.color-gray{
    color:$medium-gray !important;
}
.color-white{
    color:$white !important;
}
.text-bold{
    font-weight: bold !important;
}
.bg-primary{
    background-color: $primary-color !important;
}
.bg-black{
    background-color: $black !important;
}
.tag{
    font-size:12px;
    font-weight: bold;
    color:$secondary-color;
    margin-bottom:5px;
}
.location{
    font-size:16px;
    line-height: 30px;
    border-bottom:1px solid $primary-color;
    font-weight: bold;
}
.quote-sign{
    font-family: "Times New Roman", serif;
    font-size:96px;
}
